@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500&display=swap');

*{
    font-family: 'Baloo Thambi 2', cursive;
    outline: 0;
    text-decoration: none;
    margin: 0;
    padding: 0;  
    
}

body, html{
    width: 100%;
    height: 100%;
    background: url(./imagens/img.jpg);
    background-size: cover;
    background-position: center center;
}

#fundo-externo {
    overflow: hidden;
    position: relative; 
    
}

#fundo {
    margin: 0 auto;
    padding: 0 4%;
}

.content-center{
    background-color: #262626a4;
    max-width: 400px !important;
    margin: 80px auto;
    padding: 4% 2%;
    text-align: center;

}

.content-center .btn{
    color: #fff;
    background-color: #262626a4;
    cursor: pointer;
    border: 2px solid #fff;
    margin-top: 20px;
    padding: 7px 35px;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    transition: linear .3s;
}

.content-center .btn:hover{
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
}

.content-center .logo{
    background: url(./imagens/logochat.png);
    background-size: 60% 60%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
}

.content-center input{
    padding: 10px 5px;
    width: 60%;
    border: 1px;
    font-size: 15px;
    margin-bottom: 10px;
    padding: .75rem 1rem;
    border-radius: 4px;
}

@media ( max-width:420px ){
    .content-center .logo {
        background-size: 60% 50%;
    }
    
    .content-center .btn{
        padding: 10px 20px;
        font-size: 14px;
 }
}